/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 115%;
	line-height: 1;
}
ol {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 {
	border: 1px solid black;
}

.NameHeaderClosed {
	width: 220px;
	display: block;
	padding-right: 0px;
	height: 70px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #FF7519;
	text-align: center;
}

.NameHeaderClosed h1 {
	font-size: 22px;
	font-weight: bold;
	font-family: Sans-seriff TimesNewRoman;
	color: #404346;
	padding-bottom: 5px;
}

.NameHeaderClosed h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: Sans-seriff TimesNewRoman;
	color: #FFF;
	text-align: center;
}

.ContactHeaderClosed {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.ContactHeaderClosed p{
	color: #5B5B5B;
}

.ContactHeaderClosed span{
	display: inline-block;
	background-color: #85ADFF;
	height: 1px;
	width: 1px;
	border: 2px solid #85ADFF;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

.NameHeader {
	display: inline-block;
	padding-right: 0px;
	height: 45px;
	margin: 25px 0px 5px 15px;
}

.NameHeader h1 {
	font-size: 22px;
	font-weight: bold;
	font-family: Sans-seriff TimesNewRoman;
	color: #5B5B5B;
	padding-bottom: 5px;
}

.NameHeader h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: Sans-seriff TimesNewRoman;
	color: #85ADFF;
	text-align: center;
}

.ContactHeader {
	font-size: 14px;
	display: inline-block;
	margin: 25px 15px 5px 0px;
	text-align: right;
	height: 45px;
	float: right;
}

.ContactHeader p{
	color: #5B5B5B;
}

.ContactHeader span{
	display: inline-block;
	background-color: #85ADFF;
	height: 1px;
	width: 1px;
	border: 2px solid #85ADFF;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

.ResumeContainerClosed {
	display: none;
}

.ResumeContainerOpen {
	display: block;
	width: 100%;
	height: 100%;

}

.ResumeDisplay {
	display: block;
	width: 80%;
	height: 90%;
	margin: 45px auto;
}

hr {
	color: black;
	height: 1px;
	background-color: black;
}

.quote {
	width: 100%;
	font-size: 14px;
	font-family: calibri;
	text-align: right;
	display: block;
	float: right;
	clear: bottom;
	color: #5B5B5B;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ProProfile {
	color: #3C3D3F;
	display: block;
	width: 100%;
	clear: bottom;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: caliri;
	text-align: left;
	float: left;
	font-weight: bold;
}

.PersSummary {
	color: #5B5B5B;
}

.PersImage {
	display: inline-block;
	width: 30px;
	height: 50px;
	float: left;
	margin: 5px 10px 5px 0px;
	position: relative;
}

.PersImage img{
	height: 50px;
	width: 30px;

}

.PersSkills {
	display: inline-block;
	color: #5B5B5B;
	margin-top: -5px;
}

th {
	font-weight: bold;
	text-align: left;
	color: #3C3D3F;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: caliri;
	text-align: left;
	float: left;
	font-weight: bold;
}

.DataTitle {
	font-weight: bold;
	color: #3C3D3F;
}

.DataInfo{
	color: #5B5B5B;
}

.LocationRefrencesFooter {
	margin: -5px 0px 3px 0px;
	text-align: right;
	float: right;
	font-size: 14px;
}

.JobDesc {
	color: #5B5B5B;
}

















































